@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply text-base-content bg-primary-content;
    min-width: 320px;
    min-height: 100vh;
    font-weight: 400;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    font-synthesis: none;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  th,
  td {
    @apply border-b-[1px] border-b-table-border;
    @apply py-4 pr-4 whitespace-nowrap text-left;
  }

  th {
    @apply text-xs;
  }
}

@layer components {
  .bg-gradient-p-s {
    @apply bg-gradient-to-r from-primary to-secondary;
  }

  .bg-gradient-blue-red {
    @apply bg-gradient-to-r from-primary to-error;
  }

  .scroll-y {
    @apply overflow-y-scroll;
    &::-webkit-scrollbar {
      @apply w-2;
    }
    &::-webkit-scrollbar-track {
      @apply bg-scrollbar-bg rounded-full;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-scrollbar-thumb rounded-full;
    }
  }

  .text-link {
    @apply text-primary underline hover:no-underline;
  }

  .accordion-header-primary {
    @apply relative bg-gradient-p-s text-primary-content;
    &::before,
    &::after {
      @apply block absolute bg-primary-content;
      @apply top-0 right-6 bottom-0 m-auto;
      @apply w-4 h-0.5;
      @apply content-[''];
      @apply duration-500 ease-out;
    }
    &::after {
      @apply rotate-90;
    }
    &.is-active::after {
      @apply rotate-0;
    }
  }

  .tooltip-primary {
    @apply relative;

    &::before,
    &::after {
      @apply opacity-0 transition-opacity duration-200;
    }
    &::before {
      @apply absolute -top-[35px] left-[50%] -translate-x-[50%];
      @apply px-[0.7rem] py-[0.3rem] rounded;
      @apply bg-primary text-primary-content font-semibold whitespace-nowrap;
      content: attr(data-tooltip);
    }
    &::after {
      @apply absolute -top-[10px] -translate-x-[50%] border-t-primary;
      border: 8px solid transparent;
      @apply border-t-primary;
      content: '';
    }

    &.is-active::before,
    &.is-active::after {
      @apply opacity-100;
    }
  }

  .custom-tabs {
    @apply py-1 !important;

  }
  .custom-tabs .MuiTabs-indicator {
    display: none !important;
  }

  .custom-tab {
    @apply text-lg font-bold text-base-content mx-1 !important;
    text-transform: none !important;
    font-family: 'Inter', 'Noto Sans JP', sans-serif !important;
    &:hover {
      @apply bg-gradient-p-s text-primary-content rounded-2xl !important;
    }

  }
  .custom-tab.Mui-selected {
    @apply bg-gradient-p-s text-primary-content rounded-2xl !important;
  }

  .transparent-header {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
